@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    G.D.L. Madushanka<br />
    gdlmadushanka@gmail.com<br />
    <abbr title="Phone">Mobile</abbr>
    071 7276083
</address>

