@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:blue">OTMS</h1>
    <p class="lead">Online Tender Management service is a complete management tool for organizations and bidders.</p>
    <img src="@Url.Content("~/Content/Graphic1.jpg")" height="150" width="900" />
 
</div>

<button type="button" class="close" data-dismiss="alert">×</button>
<div class="alert alert-dismissible alert-info">
    <strong>Welcome!</strong> Register to begin the experience.
</div>

